.map-container {
    position: relative;
}

.map {
    width: 100%;
    height: 500px;
}

.map-overlay {
    position: absolute;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

.map-overlay * {
    color: rgba(0,0,0,0)
}

.map-feature-panel {
    top: 0;
}

.map-overlay h2, h3 {
    margin: 10px;
    font-size: 1.2em;
}

.map-overlay h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.legend {
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);
    line-height: 18px;
    height: 150px;
    bottom: 0;
    width: 100px;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}